@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');
/*varibles*/
:root{
    --color_principal : #F3F5FC;
    --color_texto :#0a3871;
    --color_boton_encriptar: #0A3871;
    --color_boton_desencriptar: #D8DFE8;
    --color_boton_borde_desencriptar: #0A3871;
    --blanco: #FFFFFF;
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Inter";
}

body{
    background-color: var(--color_principal);
    
}

.cabecera__logo{
    padding: 28px 0 44px 84px;
}


.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.contenido__areatexto{
    display: flex;
    flex-direction: column;
}

.contenido__areatexto__textarea{
    background-color: var(--color_principal);
    color: var(--color_texto);
    width: 700px;
    height: 500px;
    font-size: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    border-style: none;
    outline: none;    
    resize: none;
}

.contenido__areatexto__textarea::placeholder{
    color: var(--color_texto);
}

.contenido__areatexto__terminos{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-bottom: 20px;
}

.contenido__areatexto__botones{
    display: flex;
    gap: 24px;
}

.contenido__areatexto__botones__boton{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-weight: 400;
    cursor: pointer;
}
#btn_encriptar{
    background-color: var(--color_boton_encriptar);
    border: var(--color_boton_encriptar);
    color: var(--blanco);
    font-weight: 400;
    cursor: pointer;
}

#btn_desencriptar{
    background-color: var(--color_boton_desencriptar);
    border: 1px solid var(--color_boton_borde_desencriptar);
    color: var(--color_texto);
    cursor: pointer;
}

.contenido__tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--blanco);
    width: 25em;
    height: 47.5em;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.contenido__tarjeta__uno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido__tarjeta__uno h4{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    padding: 20px;
}

.contenido__tarjeta__uno p{
    padding-left: 54px;
    padding-right: 54px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
}

.contenido__tarjeta__dos{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
}

.contenido__tarjeta__dos__textencriptado{
    width: 300px;
    height: 520px;
    font-family: "Inter";
    font-style: normal;
    font-size: 24px;
    font-weight: 200;
    border-style: none;
    outline: none;
    resize: none;
}

.contenido__tarjeta__dos__btncopiar{
    background-color: var(--color_boton_desencriptar);
    border: 1px solid var(--color_boton_borde_desencriptar);
    color: var(--color_texto);
    cursor: pointer;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-weight: 400;
    cursor: pointer;
}

.contenido__tarjeta__uno{
    display: block;
}

#tarjeta__dos{
    display: none;
}

/* tamaño para tablets */

@media(max-width:768px){

.contenido{
    margin-top: 50px;
    flex-direction: column;
}

.contenido__tarjeta{
    width: 43em;
    height: auto;
}

.contenido__tarjeta__uno img{
    display: none;
}

.contenido__tarjeta__dos__textencriptado{
    width: auto;
    height: 150px;
}

.contenido__tarjeta__dos__btncopiar{
    width: 624px;
}

}

/*tamaño para celulares*/

@media(max-width:375px){

.cabecera__logo{
    padding-left: 16px;
}

.contenido{
    width: 100%;
    gap: 50px;
 }

.contenido__areatexto__textarea{
    width: 346px;
}

.contenido__areatexto__botones{
    flex-direction: column;
}

.contenido__tarjeta{
    width: 90%;
}

.contenido__tarjeta__dos__textencriptado{
    width: 90%;
    height: 150px;
}

.contenido__tarjeta__dos__btncopiar{
    width: 279px;
}

}
